.analyseHeader{
    width: 100%;
    background: url('../../img/455.png');
    background-size: 100% 100%;
    padding: 15px 5px 5px 5px;

}
.footerHeaderContent{
    margin: 0 auto;
    width: 80%;
   
}
.secOneAnalyse {
    width: 100%;
}
.secOneAnalyseContent {
    width: 80%;
    margin:  auto;
    padding: 10px;
    text-align: center;
}
.secOneAnalyseCard {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 11px -2px #000000; 
    box-shadow: 0px 0px 11px -2px #000000;
    cursor: pointer;
    margin-top: 100px;
    
}
.active{
display: none;
}


ul li {
    list-style: none; /* убираем дефолтные маркеры */
}

.list span {
    cursor: pointer;
}
.show{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 11px -2px #000000; 
    box-shadow: 0px 0px 11px -2px #000000;
    cursor: pointer;
    padding: 10px 60px;
 
}
.mt{
    margin: 50px auto;
   
}


.vis{
    display: none;
    margin: 0 auto;
}
.vis li{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.db{
    display: block;
}

li em{
    width: 200px;height: 50px;
    border-radius:50px;
    font-style: normal;
    background:#42B4DF;
    display: flex;align-items: center;justify-content: center;
}
.acorCard{
    display: flex;width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.acorOne{
    width: 50px;height: 50px;
    border-radius:50%;
    background:#42B4DF;
    display: flex;align-items: center;justify-content: center;
}
.som{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#42B4DF;

}
.accordion-body{
    padding: 0 !important;
}
#collapseOne{
    padding: 10px !important;
}
#collapseTwo{
    padding: 10px !important;
}
#collapseThree{
    padding: 10px !important;
}
.analyseTitle{
    width: 100%;
    color:grey;
    text-align: center;padding: 10px;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
}
@media screen and (max-width:500px) {
    .som{
        width: 120px;
    }
    .acorOne{
        width: 30px;
        height: 30px;
    }
}