<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyse</title>
    <link rel="stylesheet" href="analyse.css">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="../Klientam/klient.css">
</head>

<body>

    <header class="analyseHeader">
        <div class="footerHeaderContent">
            <div class="homeHeaderContentKontact">
                <div>
                    <img src="../../img/iconTrubka.png" alt="">
                    <p>+996555 15 85 65 </p>
                </div>
                <div>
                    <img src="../../img/iconAdres.png" alt="">
                    <p>г.Бишкек, ул.Жукеева-Пудовкина 75, ЦСМ №6, 1 этаж</p>
                </div>
            </div>
            <nav class="headerNav">
                <div class="headerNavNavigtion">
                    <div><a href="../../index.html">Главная</a></div>
                    <div><a href="../Klientam/klient.html">Клиентам</a></div>
                    <div><a href="../vracham/vracham.html">Врачам</a></div>
                    <div><a href="../Analyse/analyse.html">Анализы и цены</a></div>
                    <div><a href="../result/result.html">Результаты</a></div>
                    <div><a href="../aboutUse/aboutUse.html">О нас</a></div>
                    <div><a href="../contacts/contact.html">Контакты</a></div>
                </div>
                <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                        <span></span>
                    </label>
                    <ul class="menu__box">
                        <li><a class="menu__item" href="../../index.html">Главная</a></li>
                        <li><a class="menu__item" href="../Klientam/klient.html">Клиентам</a></li>
                        <li><a class="menu__item" href="../vracham/vracham.html">Врачам</a></li>
                        <li><a class="menu__item" href="../Analyse/analyse.html">Анализы и цены</a></li>
                        <li><a class="menu__item" href="../result/result.html">Результаты</a></li>
                        <li><a class="menu__item" href="../aboutUse/aboutUse.html">О нас</a></li>
                        <li><a class="menu__item" href="../contacts/contact.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="headerNavSotsSeti">
                    <div class="headerNavSotsSetiImg">
                        <img src="../../img/facebook.png" alt="">
                        <img src="../../img/metka.png" alt="">
                        <img src="../../img/whatsapp.png" alt="">
                    </div>

                </div>
            </nav>


            <div class="klHeaderTitle">
                <div class="klHeaderTitleOne">Анализы </div>
                <div class="klHeaderTitleTwo">и цены</div>
                <div class="klHeaderTitleThree">ифа - витамед</div>
                <div class="klHeaderTitleFour">Работаем с 2002 года.</div>

            </div>
        </div>
        <img src="../../img/fixedImg.png" class="headerFixedKontackt">

    </header>

    <section class="secOneAnalyse">
        <div class="secOneAnalyseContent">
            <ul class="list" id="list">

                <li class="mt"> <span class="show">Общие клиничечкие иследования</span>
                    <ul class="vis">
                        <li>
                            <strong>1</strong> <span>Общий анализ крови + тромбоциты</span> <em>300сом</em>

                        </li>
                        <li>
                            <strong>2</strong> <span>Общий анализ крови + тромбоциты</span> <em>400сом</em>

                        </li>
                        <li>
                            <strong>3</strong> <span>Общий анализ крови + тромбоциты</span> <em>500сом</em>

                        </li>
                        <li>
                            <strong>4</strong> <span>Общий анализ крови + тромбоциты</span> <em>600сом</em>

                        </li>
                    </ul>

                </li>
                <li class="mt"> <span class="show">Общие клиничечкие иследования</span>
                    <ul class="vis">
                        <li>
                            <strong>1</strong> <span>Общий анализ крови + тромбоциты</span> <em>300сом</em>

                        </li>
                        <li>
                            <strong>2</strong> <span>Общий анализ крови + тромбоциты</span> <em>400сом</em>

                        </li>
                        <li>
                            <strong>3</strong> <span>Общий анализ крови + тромбоциты</span> <em>500сом</em>

                        </li>
                        <li>
                            <strong>4</strong> <span>Общий анализ крови + тромбоциты</span> <em>600сом</em>

                        </li>
                    </ul>

                </li>
                <li class="mt"> <span class="show">Общие клиничечкие иследования</span>
                    <ul class="vis">
                        <li>
                            <strong>1</strong> <span>Общий анализ крови + тромбоциты</span> <em>300сом</em>

                        </li>
                        <li>
                            <strong>2</strong> <span>Общий анализ крови + тромбоциты</span> <em>400сом</em>

                        </li>
                        <li>
                            <strong>3</strong> <span>Общий анализ крови + тромбоциты</span> <em>500сом</em>

                        </li>
                        <li>
                            <strong>4</strong> <span>Общий анализ крови + тромбоциты</span> <em>600сом</em>

                        </li>
                    </ul>

                </li>








            </ul>

        </div>



    </section>

    <footer class="homeFooter">

        <div class="headerNavNavigtionFooter">
            <div><a href="../../index.html">Главная</a></div>
            <div><a href="../Klientam/klient.html">Клиентам</a></div>
            <div><a href="../vracham/vracham.html">Врачам</a></div>
            <div><a href="../Analyse/analyse.html">Анализы и цены</a></div>
            <div><a href="../result/result.html">Результаты</a></div>
            <div><a href="../aboutUse/aboutUse.html">О нас</a></div>
            <div><a href="../contacts/contact.html">Контакты</a></div>
        </div>

        <div class="homeFooterContact">
            <div class="homeFooterContactBtn">
                <img src="img/iconTrubka.png" alt="">
                <p>+996555 15 85 65</p>
            </div>
            <div class="homeFooterContactImg">
                <img src="../../img/whatsapp.png" alt="">
                <img src="../../img/facebook.png" alt="">
                <img src="../../img/metka.png" alt="">
            </div>

        </div>

        <div class="btnUp">
            <div class="btnUpStrelka"><img src="../../img/Vector (13).png" alt=""></div>
        </div>

    </footer>







    <script src="../../index.js"></script>
</body>

</html>