<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../aboutUse/aboutUse.css">
    <link rel="stylesheet" href="../../main.css">
</head>

<body>

    <header class="abouteHeader" >
        <div class="homeHeaderContent">
            <div class="homeHeaderContentKontact">
                <div>
                    <img src="../../img/iconTrubka.png" alt="">
                    <p>+996555 15 85 65 </p>
                </div>
                <div>
                    <img src="../../img/iconAdres.png" alt="">
                    <p>г.Бишкек, ул.Жукеева-Пудовкина 75, ЦСМ №6, 1 этаж</p>
                </div>
            </div>
            <nav class="headerNav">
                <div class="headerNavNavigtion">
                    <div><a href="../../index.html">Главная</a></div>
                    <div><a href="../Klientam/klient.html">Клиентам</a></div>
                    <div><a href="../vracham/vracham.html">Врачам</a></div>
                    <div><a href="../Analyse/analyse.html">Анализы и цены</a></div>
                    <div><a href="../result/result.html">Результаты</a></div>
                    <div><a href="../aboutUse/aboutUse.html">О нас</a></div>
                    <div><a href="../contacts/contact.html">Контакты</a></div>
                </div>
                <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                        <span></span>
                    </label>
                    <ul class="menu__box">
                        <li><a class="menu__item" href="../../index.html">Главная</a></li>
                        <li><a class="menu__item" href="../Klientam/klient.html">Клиентам</a></li>
                        <li><a class="menu__item" href="../vracham/vracham.html">Врачам</a></li>
                        <li><a class="menu__item" href="../Analyse/analyse.html">Анализы и цены</a></li>
                        <li><a class="menu__item" href="../result/result.html">Результаты</a></li>
                        <li><a class="menu__item" href="../aboutUse/aboutUse.html">О нас</a></li>
                        <li><a class="menu__item" href="../contacts/contact.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="headerNavSotsSeti">
                    <div class="headerNavSotsSetiImg">
                        <img src="../../img/facebook.png" alt="">
                        <img src="../../img/metka.png" alt="">
                        <img src="../../img/whatsapp.png" alt="">
                    </div>

                </div>
            </nav>

            <h1 style="color:#42B4DF ;width: 100%;text-align: left;margin-top: 40px; margin-bottom: 40px; ">Контакты
            </h1>
            <h2 style="color:#8D8D8D; ;width: 100%;text-align: left;margin: 20px 0 20px 0; "> ИФА-ВИТАМЕД</h2>
            <div style="background-color:#8D8D8D ; color: white;display: flex;justify-content: center;align-items: center;padding: 5px;width: 20%;
            border-radius:10px;
            
            " class="aboutBtn">Работаем с 2002 года.</div>


        </div>
        <img src="../../img/fixedImg.png" class="headerFixedKontackt">



    </header>



    <h1 style="color:#42B4DF ;width: 100%;text-align: center;margin-top: 80px; ">Контакты</h1>

    <div style="width: 80%; color:#8D8D8D; margin: 40px auto;">
        <span style="color:#42B4DF">К Вашим услугам ведется прием врача –</span> <br>

        Гинеколог-эндокринолог, Доктор медицинских наук, врач высшей категории. <br>
        Тел: <span style="color:#42B4DF ;">+996 312 91 14 21, </span> моб.: <span style="color:#42B4DF">+996 772 37 13
            94. </span> <br>
        7 мкр., БЦ «Каухар», ул. Донецкая, 5 этаж, 9 кабинет<div class="br"></div>
        <br><br>
        Прием анализов: <span style="color:#42B4DF;">с 8:00 до 13:00</span> <br>
        Суббота: <span style="color:#42B4DF;">с 9:00 до 11:00</span> <br>
        Воскресенье: <span style="color:#42B4DF;">ВЫХОДНОЙ </span>
        <br><br>
        <span style="color:#42B4DF;">Пункты сдачи анализов крови:</span>

        <br><br>
        Г.Бишкек, ул.Жукеева-Пудовкина 75, ЦСМ №6, 1 этаж, каб. 112-113 <br>
        Тел: <span style="color:#42B4DF;">+996 772 11 15 76</span> <br>

    </div>

    <footer class="homeFooter">

        <div class="headerNavNavigtionFooter">
            <div><a href="../../index.html">Главная</a></div>
            <div><a href="../Klientam/klient.html">Клиентам</a></div>
            <div><a href="../vracham/vracham.html">Врачам</a></div>
            <div><a href="../Analyse/analyse.html">Анализы и цены</a></div>
            <div><a href="../result/result.html">Результаты</a></div>
            <div><a href="../aboutUse/aboutUse.html">О нас</a></div>
            <div><a href="../contacts/contact.html">Контакты</a></div>
        </div>

        <div class="homeFooterContact">
            <div class="homeFooterContactBtn">
                <img src="../../img/iconTrubka.png" alt="">
                <p>+996555 15 85 65</p>
            </div>
            <div class="homeFooterContactImg">
                <img src="../../img/whatsapp.png" alt="">
                <img src="../../img/facebook.png" alt="">
                <img src="../../img/metka.png" alt="">
            </div>

        </div>

        <div class="btnUp">
            <div class="btnUpStrelka"><img src="../../img/Vector (13).png" alt=""></div>
        </div>

    </footer>

    <script src="../../index.js"></script>

</body>

</html>