<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="vracham.css">
</head>

<body>


    <header class="vrachamHeader">
        <div class="homeHeaderContent">
            <div class="homeHeaderContentKontact">
                <div>
                    <img src="../../img/iconTrubka.png" alt="">
                    <p>+996555 15 85 65 </p>
                </div>
                <div>
                    <img src="../../img/iconAdres.png" alt="">
                    <p>г.Бишкек, ул.Жукеева-Пудовкина 75, ЦСМ №6, 1 этаж</p>
                </div>
            </div>
            <nav class="headerNav">
                <div class="headerNavNavigtion">
                    <div><a href="../../index.html">Главная</a></div>
                    <div><a href="../Klientam/klient.html">Клиентам</a></div>
                    <div><a href="../vracham/vracham.html">Врачам</a></div>
                    <div><a href="../Analyse/analyse.html">Анализы и цены</a></div>
                    <div><a href="../result/result.html">Результаты</a></div>
                    <div><a href="../aboutUse/aboutUse.html">О нас</a></div>
                    <div><a href="../contacts/contact.html">Контакты</a></div>
                </div>
                <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                        <span></span>
                    </label>
                    <ul class="menu__box">
                        <li><a class="menu__item" href="../../index.html">Главная</a></li>
                        <li><a class="menu__item" href="../Klientam/klient.html">Клиентам</a></li>
                        <li><a class="menu__item" href="../vracham/vracham.html">Врачам</a></li>
                        <li><a class="menu__item" href="../Analyse/analyse.html">Анализы и цены</a></li>
                        <li><a class="menu__item" href="../result/result.html">Результаты</a></li>
                        <li><a class="menu__item" href="../aboutUse/aboutUse.html">О нас</a></li>
                        <li><a class="menu__item" href="../contacts/contact.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="headerNavSotsSeti">
                    <div class="headerNavSotsSetiImg">
                        <img src="../../img/facebook.png" alt="">
                        <img src="../../img/metka.png" alt="">
                        <img src="../../img/whatsapp.png" alt="">
                    </div>

                </div>
            </nav>


            <div class="headerHeading">
                <p class="headerHeadingKlinik">МЕТОДЫ-</p>
                <p class="headerHeadingDiagn ifaTitVrachOne"> Ифа и пцр</p>
                <p class="headerHeadingIfa ifaTitVrachTwo"> ифа - витамед</p>
            </div>

            <div class="headerBtn headerBtnVr ">Работаем с 2002 года.</div>


        </div>
        <img src="../../img/fixedImg.png" class="headerFixedKontackt">

    </header>





    <section class="sectionVracham">

        <div class="sectionVrachamContent" style='display: flex;justify-content: center;flex-direction: column;'>
            <div class="vrachContentPTSR">
                <p style="font-size: 30px; color:#8D8D8D;"> <span class='PTSRPulsImg'>ПЦР:</span> СВЕРХЧУВСТВИТЕЛЬНАЯ
                    <br>ДИАГНОСТИКА ИНФЕКЦИЙ</p>
            </div>
            <div style="width: 80%;color:#42B4DF; text-align: center;margin: 30px auto;">
                ПЦР — это метод лабораторной диагностики, направленный на выявление возбудителей инфекционных
                заболеваний. Трехбуквенный вариант — это аббревиатура названия «полимеразная цепная реакция».
                Собственно, в этом названии и отражается суть метода
            </div>

            <div style="width: 100%; color:#8D8D8D;">
                Метод ПЦР был разработан в 1983 году Кэри Мюллисом, за что он был удостоен Нобелевской премии.
                Изначально метод использовался в основном для научных целей, но затем, разглядев его перспективность и
                эффективность, метод стали продвигать в практическую медицину

                За генетическую информацию в живом организме любого размера отвечает ДНК — двухспиральная
                дезоксирибонуклеиновая кислота, состоящая из последовательности четырех нуклеотидов, которые принято
                обозначать буквами А (аденин), Г (гуанин), Т (тимидин) и Ц (цитозин). Одно из основных правил генетики –
                правило комплементарности, то есть нуклеотиды соседних спиралей ДНК соединяются только в определеном
                порядке: А с Т, Г с Ц, и никак иначе. У каждого живого создания (бактерия, вирус, рыба, зверь) – своя
                ДНК, причем для выявления конкретного организма достаточно иметь лишь небольшой участок этого хранилища
                генетической информации. Некоторые виды микроорганизмов, например, вирус иммунодефицита человека, хранят
                генетическую информацию в другой нуклеиновой кислоте – РНК, но и ее фрагменты можно находить с помощью
                ПЦР. Именно на обнаружении этого небольшого, но уникального для каждого отдельного организма участка и
                построен принцип ПЦР.

                Для каждого возбудителя создан свой специфический генетический детектор, эталонный фрагмент ДНК, который
                по принципу комплементарности точно обнаруживает «свой» фрагмент ДНК и запускает реакцию создания
                огромного количества его копий. Один цикл ПЦР длится около трех минут, количество копий растет в
                геометрической прогрессии. Таким образом, за несколько часов количество фрагментов увеличивается в
                несколько миллиардов раз.
            </div>

            <h2 style="color:#42B4DF;margin: 20px auto;">ДОСТОИНСТВА</h2>

            <div style="width: 30%;margin: 20px auto; text-align: center;color:#8D8D8D;">
                Понятно, что теперь определить, какой возбудитель у данной конкретной инфекции, достаточно легко. Какую
                же практическую выгоду получает человек, когда отправляется на поиски вредоносных микроорганизмов,
                вооруженный ПЦР?<br><br>
            </div>

            <div style="width: 100%; color:#8D8D8D;">
                - Безусловно, одно из главных достоинств — это универсальность метода. ПЦР позволяет обнаруживать любые
                ДНК и РНК, даже когда бессильны другие методы. Оборудование, используемое для ПЦР, стандартно, оно не
                зависит от того, что именно и где именно мы ищем. <br> <br>

                - Следующий плюс — высокая специфичность. В материале, направленном на исследование, определяется
                уникальная последовательность нуклеотидов, характерная только для конкретного возбудителя. Таким
                образом, можно говорить, что специфичность метода достигает 100%. Кроме того, это позволяет
                одновременно, в одном и том же материале, проводить поиск нескольких возбудителей без какого-либо ущерба
                для качества ответа.
                <br>
                <br>
                - Метод ПЦР обладает высочайшей чувствительностью – мы уже говорили о том, что возможно найти всего один
                фрагмент генетического материала возбудителя.
                <br>
                <br>

                - Несомненное преимущество метода – оперативность. Постановка реакции занимает несколько часов, таким
                образом, вся диагностика, от момента сдачи материала на анализ до получения результата, отнимет всего
                один день.
                <br>
                <br>
                - При помощи ПЦР определяют возбудителя, а не реакцию на его внедрение со стороны организма. Таким
                образом, появилась возможность точно диагностировать заболевание еще в инкубационном периоде, когда нет
                никаких клинических или лабораторных признаков болезни. Когда нужно делать?

                Когда следует бежать в лабораторию, чтобы проанализировать итоги вашего летнего отпуска?

                Специалисты советуют делать это в следующих случаях: выделения, зуд, чувство жжения в области половых
                органов, резко изменившийся запах от половых органов, дискомфорт при мочеиспускании, необычный характер
                выделений (цвет, количество, консистенция), случайный половой контакт без применения презерватива.
                Безусловно, ПЦР — мощный и эффективный диагностический инструмент, позволяющий быстро и точно найти
                возбудителей очень многих инфекций. Чаще всего его используют для диагностики именно заболеваний,
                передающихся половым путем.

                В любом случае нельзя ограничиваться только одним методом. Лучше всего комбинировать различные методы
                исследования – помимо определения самого возбудителя методом ПЦР? необходимо оценивать и иммунный ответ
                организма, который определяется традиционными серологическими методами, например - ИФА.
            </div>

            <h2 style="color:#42B4DF;margin: 20px auto; text-align: center;">ИССЛЕДОВАНИЕ ИММУНОГЛОБУЛИНОВ МЕТОДОМ <br>
                ИММУНОФЕРМЕНТНОГО АНАЛИЗА (ИФА)</h2>
            <div style="width: 100%; color:#8D8D8D;">
                В основе иммуноферментного анализа (ИФА) лежит иммунная реакция антигена с антителом.
                <br><br>
                Для исследования методом ИФА используется кровь из вены, полученная натощак.
                <br><br>
                Иммуно-ферментный анализ (ИФА) применяется в диагностике урогенитальных инфекций для выявления наличия в
                сыворотке крови специфических иммуноглобулинов (Ig или антител) - белков, вырабатываемых клетками
                иммунной системы, направленных на борьбу с внедрившимся в организм инфекционным агентом. Связываясь с
                микробной клеткой или продуктами ее жизнедеятельности, иммуноглобулины нейтрализуют их и способствуют их
                элиминации. Таким образом, иммуноглобулины представляют собой суть гуморального иммунитета, то есть
                иммунитета, обусловленного субстанциями, содержащимися в жидкостях тела, в отличие от клеточного
                иммунитета, связанного с присутствием специальных клеток иммунной системы.
                <br><br>
                На каждый вид (и даже подвид) возбудителя вырабатываются свои определенные антитела, которые, как
                правило, не связываются ни с каким другим инфекционным агентом. Благодаря этому определение антител
                обеспечивает достаточно высокую специфичность анализа. Из пяти классов Ig в диагностике инфекционных
                заболеваний чаще всего используются Ig трех типов А, M и G. Прежде всего нужно помнить, что существует
                некоторый промежуток времени с момента внедрения инфекционного агента в организм и до момента появления
                антител в сыворотке крови - это так называемый серонегативный период. Для различных инфекций и отдельных
                индивидуумов он может быть неодинаков, в среднем же для возбудителей урогенитальных заболеваний он
                составляет 1-4 недели.
            </div>




        </div>


    </section>


    <footer class="homeFooter">

        <div class="headerNavNavigtionFooter">
            <div><a href="../../index.html">Главная</a></div>
            <div><a href="../Klientam/klient.html">Клиентам</a></div>
            <div><a href="../vracham/vracham.html">Врачам</a></div>
            <div><a href="../Analyse/analyse.html">Анализы и цены</a></div>
            <div><a href="../result/result.html">Результаты</a></div>
            <div><a href="../aboutUse/aboutUse.html">О нас</a></div>
            <div><a href="../contacts/contact.html">Контакты</a></div>
        </div>

        <div class="homeFooterContact">
            <div class="homeFooterContactBtn">
                <img src="../../img/iconTrubka.png" alt="">
                <p>+996555 15 85 65</p>
            </div>
            <div class="homeFooterContactImg">
                <img src="../../img/whatsapp.png" alt="">
                <img src="../../img/facebook.png" alt="">
                <img src="../../img/metka.png" alt="">
            </div>

        </div>

        <div class="btnUp">
            <div class="btnUpStrelka"><img src="../../img/Vector (13).png" alt=""></div>
        </div>

    </footer>





    <script src="../../index.js"></script>
</body>

</html>